body {
    background: rgb(133, 81, 235);
    background-image: url(paper.webp);
}

h1,
h2,
h3 {
    color: #97dd1e;
    font-family: fantasy;

}
img {
    width: 580px;
    
}


#page {
    max-width: 980px;
    margin: 0 auto 0 auto;
    background: rgb(207, 87, 235);
    padding: 30px;
}

.top-section {
    display: flex;
    gap: 80px;
    align-items: flex-start;
    margin: 40 0 25px 40;
}

#introduction {
    background: #f3f7ff;
    padding: 30px;
    border-left: 6px solid #1d1184;
    flex: 2;
}

#introduction h2 {
    font-style: italic;
    margin-top: 0;
}

#introduction p {
    font-size: 120%;
    line-height: 1.5;
}

