p {color: blue; font-size: large; font-weight: bold;}

p strong {font-weight: normal;}
li{ text-align: center;}

html{font-family: Arial, Helvetica, sans-serif; background-color: #ffc0cb;}

span {background-color: azure;}

/* select all html tags that have a class highlight_01 */
.highlight_01 {background-color:azure;}

.highlight_02 {background-color: orange;}

.highlight_03 {background-color: rgb(238, 255, 161);}

#pink-huge {width: 150px;}
#pink-medium {width: 99px;}
#pink-small {width: 50px;}


.test-div {background-color: lemonchiffon; margin: 30px;
padding: 40px;
}

.my-flex {display: flex;}
